<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>签到页面</title>
    </head>
    <body>
        <!-- 导航栏 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- 将页面标题设置为发布会名称 -->
                    <a class="navbar-brand" href="#">{{ event.name }}</a>
                </div>
                <div id="navbar" class="collapse nvabar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- 设置发布会、嘉宾的导航链接 -->
                        <li><a href="/event_manage/">发布会</a></li>
                        <li><a href="/guest_manage/">嘉宾</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 签到功能 -->
        <div class="page-header" style="padding-top: 20px;">
            <div id="navbar" class="navbar-collapse collapse">
                <!-- 签到表单通过POST请求将签到手机号提交到/sign_index_action/{{ event.id }}路径，{{ event.id }}会替换为发布会的id -->
                <form class="navbar-form" method="post" action="/sign_index_action/{{ event.id }}/">
                    <div class="form-group">
                        <input name="phone" type="text" placeholder="输入手机号" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">签到</button>

                        <!-- 用于显示签到成功和失败的提示信息 -->
                        <br>{{ hint }}
                        <!-- 当签到成功，会显示嘉宾名 -->
                        <br>{{ guest.realname }}
                        <!-- 当签到成功，会显示嘉宾手机号 -->
                        <br>{{ guest.phone }}
                        <br>嘉宾总数：{{ guest_list }} &nbsp&nbsp&nbsp&nbsp 已签到嘉宾数：{{ guest_sign }}

                </form>
            </div>
        </div>
    </body>
</html>